header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 200;
}

.menu1{
    background-color: white;
}

.tipografia{
    color: #89640a;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gruppo', cursive;


}

.menu1 {
    background-color: #dbc28a;
    /**/
}

.tipografia {
    color: #664c34;
    font-size: 20px;
    text-decoration: none;
}

footer {
    margin-top: 600px;
}

